<div class = "footer">

{{!-- TBD --}}
{{!-- <div id = "link-box">  links </div>  --}}
<!-- how are we going to stream in links? -->  

{{!-- <a href="/userpage" title="user">
	<div id = "login-box"> login 
<!-- need model popup here -->
	</div>
</a> --}}

<div class="copyright">
	<p>Copyright © 2017 EchoPack</p>
</div>

</div>