<div class = "header">
<a href="/" title="logo">
	<div id = "logo-box"> </div>
</a>    
{{!-- TBD --}}
{{!-- <div id = "link-box">  links </div>  --}}
<!-- how are we going to stream in links? -->  

<a href="/userpage" title="user">
	<div id = "login-box"> login 
<!-- need model popup here -->
	</div>
</a>

</div>