
<div class = "forum-box-card">
	{{> global/vote}}
	<div class="body-container">
		<h2 class="title" data-id="{{this.id}}">{{this.title}}</h2>
		<p class="score">Score: {{this.score}}</p>
		<p class="description">{{this.content}}</p>
		<p class="comment"><span class="comment-count"></span>comment(s)</p>
	</div>
</div>
