{{> global/header}}



<div class="container">
	<div class="row">
		<div class="r-col">
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
	  <div class="l-col">
        
          <div class="create-form">

          <ul class="tab-group">
    		<li id="forum-tab"class="tab active"><a href="#forum-form">Forum</a></li>
   		    <li id="post-tab" class="tab"><a href="#post-form">Post</a></li>
          </ul>

          <div class="tab-content">

            <div id="forum-form">
                  <h1> Create a Forum </h1>
	              <form class="forum-create">
		         
		            <div class="field-wrap">
		              <label>Forum Title<span class="req">*</span></label>
		              <input name="forumT" id="forumT"required type="text" autocomplete="off" />
		            </div>

		            <div class="field-wrap">
		              <label>Forum Description<span class="req">*</span></label>
		              <textarea name="forumD" id="forumD" type="text"></textarea>

		            </div>
		          <button id ="forumSubmit" type="submit" class="button button-block"/> Add Forum </button>
		          </form>
            </div>   

            <div id="post-form">

                <h1>Add a Post</h1>
                <form class="post-create">

                	<div class="field-wrap">
	                  <label>Forum<span class="req">*</span></label>
	                  <input name="" class="postF" type="text"required autocomplete="off"/>
	                </div>
          
	                <div class="field-wrap">
	                  <label>Post Title<span class="req">*</span></label>
	                  <input class="postT" type="text" autocomplete="off"/>
	                </div>
	          
	                <div class="field-wrap">
	                  <label>Post Content<span class="req">*</span></label>
	                  <textarea class="postC" name="Post Content"></textarea>
	                </div>     
	          
	                <button id="postSubmit" type="submit" class="button button-block"/>Add Post</button>
          
                </form>

            </div>	

          </div>  
          </div>       
	  </div>

	  
 	</div>
 </div>  
	{{!-- {{> global/footer}} --}}

