
{{> global/header}}



<div class="container">
	<div class="row">
	  

	  <div class="r-col">
	  	{{!-- {{if login=true}}
	  		{{> global/createforum}}
	  	{{else}}

	  	{{/if}} --}}
	  	{{> global/createform}}
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
	  <div class="l-col">
	  	{{#with box}}
	  		{{> forum/infobox}}
	  	{{/with}}

	  	{{#each post}}
	  	   {{> forum/box}}
	  	{{/each}}

{{!-- 	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}}
	  	 {{> forum/box}} --}}
	  </div>
	</div>  

</div>
	{{!-- {{> global/footer}} --}}
<script src="public/assets/js/forum.js" type="text/javascript" charset="utf-8" async defer></script>
	