{{> global/header}}


<div class="container">
	<div class="row">
		<div class="r-col">
	  	{{!-- {{if login=true}}
	  		{{> global/createfourm}}
	  	{{else}}

	  	{{/if}} --}}
	  	{{> global/createform}}
	    {{> global/user}}
	    {{> global/timedate}}
	    {{> global/sentiment}}
	  </div>
		<div class="l-col">
	  	{{> post/mainpost}}
	  	{{> post/post-block}}

	  	{{#each comment}}
	  	   {{> post/comment}}
	  	{{/each}}   
	  {{!-- 	 {{> post/comment}}
	  	 {{> post/comment}}
	  	 {{> post/comment}} --}}
	  </div>
		
	  

	  
	</div>  
</div>
{{!-- {{> global/footer}} --}}