<div class="postb-container">
	<div class="postb-text">
		<textarea rows="3" cols="1" name="text"></textarea>
	</div>
	<div class="bottom-s">
		<div class="user-controls">
			<button class="postc-submit" type="submit">Save</button>
			{{!-- <button type="cancel"></button> --}}
		</div>
	</div>
</div>