.infobox {
    width: 100%;
    padding: 40px;
    margin: 20px 0px;
    border-bottom: 1px solid #cdcdcd;
    h1 {
        display: inline-block;
    }
    h4 {
        display: inline-block;
    }
}

.forum-box-card {
    position: relative;
    padding: 5px;
    @media screen and (max-width: 920px) {
        width: 100%;
    }
    .vote-container {
        position: absolute;
        width: 5%;
        height: 100%;
        top: 10%;
        .up-v {
            position: relative;
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 17px solid $bl;
            margin: 0px auto;
            margin-bottom: 5px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                border-bottom: 17px solid #cdcdcd;
                transform: translateY(-2px);
            }
            .up-score {
                position: absolute;
                right: -60px;
                top: 0px;
                min-width: 50px;
                letter-spacing: 1px;
                text-align: center;
                font-size: 16px;
                @media screen and (max-width: 920px) {
                    font-size: 12px;
                    left: initial;
                    right: auto;
                }
            }
        }
        .down-v {
            position: relative;
            display: block;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 17px solid $bl;
            cursor: pointer;
            margin: 0px auto;
            transition: all .2s ease-in-out;
            &:hover {
                border-top: 17px solid #cdcdcd;
                transform: translateY(2px);
            }
            .down-score {
                position: absolute;
                right: -60px;
                top: -17px;
                min-width: 50px;
                letter-spacing: 1px;
                text-align: center;
                font-size: 16px;
                @media screen and (max-width: 920px) {
                    font-size: 12px;
                     left: initial;
                    right: auto;
                }
            }
        }
        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }
    .body-container {
        width: 85%;
        float: right;
        cursor: pointer;
        .score {
            position: absolute;
            right: 2%;
            top: 7%;
        }
        &:after {
            content: '';
            clear: both;
        }
        .comment {
            position: absolute;
            bottom: 0px;
            right: 2%;
        }
        .description {

        }
    }
    &:after {
        content: '';
        clear: both;
    }
}