.mainpost {
    width: 100%;
    padding: 40px;
    margin: 20px 0px;
    border-bottom: 1px solid #cdcdcd;
    h1 {
        display: inline-block;
    }
    h4 {
        display: inline-block;
    }
}

.postb-container {
    .postb-text {
        textarea {
            width: 45%;
            height: 150px;
            @media screen and (max-width: 920px) {
                width: 100%;
            }
        }
    }
    .bottom-s {
        .user-controls {
            .postc-submit {
                border: 1px solid #cdcdcd;
                -webkit-webkit-appeareance: none;
                -moz-webkit-appeareance: none;
                -ms-webkit-appeareance: none;
                -o-webkit-appeareance: none;
                webkit-appeareance: none;
                background: white;
                padding: 5px 10px;
                cursor: pointer;
                transition: all .333s ease;
                &:hover {
                    color: white;
                    background: black;
                    border: 1px solid black;
                }
            }
        }
    }
}